.App-header {
  background-color: #02203c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pane {
  border-radius: 5px;
  padding: 30px;
  background-color: #001528;
  margin: 15px;
  height: calc(100% - 30px);
  box-sizing: border-box;
}

.info span,
.info b {
  font-size: 14px;
  display: block;
}

.info b {
  margin: 10px 0;
}

.css-glamorous-div--jgd0xx {
  width: 100%;
}
